
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 300%;
    height: 20%;
}

.gameBoard {
    background: black;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.categories {
    font-size: 2em;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 16.6%;
    margin-bottom: 5px;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.66%;
    margin: 3px;
    background: blue;
    color: white;
    font-family: 'Heebo', sans-serif;
}

.questions {
    font-size: 3em;
    display: flex;
    flex-direction: row;
    height: 16.66%;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    color: yellow;
    width: 16.6%;
    margin: 3px;
}

.question:hover {
    color: blue;
    background: yellow;
    cursor: pointer;
}

.scoreBoard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    height: 20%;
    width: 80%;
}

.player1, .player2 {
    font-size:200%;
    /* display: flex;
    text-align: center; */
    background: rgb(213, 146, 3);
}

.modal {
    display: none;
    background: rgba(0,0,0,.5);
    left: 0;
    top: 0;
    z-index: 1;
    height: 50%;
    width: 50%;
}

.currentQ {
    padding: 10px;
}

.modalText {
    background: rgb(7, 33, 177);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    margin: 0 30%;
}