
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 300%;
    height: 20%;
}

.gameBoard {
    background: black;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.categories {
    font-size: 2em;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 16.6%;
    margin-bottom: 5px;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.66%;
    margin: 3px;
    background: blue;
    color: white;
    font-family: 'Heebo', sans-serif;
}

.questions {
    /* font-size: 300%; */
    display: flex;
    flex-direction: row;
    height: 16.66%;
}

.questions div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    color: yellow;
    width: 16.6%;
    margin: 3px;
    font-size: 300%;
}

.question:hover {
    color: blue;
    background: yellow;
    cursor: pointer;
}

.scoreBoard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    height: 20%;
    width: 80%;
}

.player1, .player2 {
    font-size:200%;
    /* display: flex;
    text-align: center; */
    background: rgb(213, 146, 3);
}

.modalOverlay {
    display: none;
    background: rgba(0,0,0,.9);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.currentQText {
    font-size: 250%;
    color: white;
}

.ans1, .ans2, .ans3 {
    font-size: 150%;
    color: yellow;
    border-color: yellow;
    background: blue;
    width: 80%;
    height: 10%;
    margin: .15em .15em 1em .15em;
}

.ans1, .ans2, .ans3:hover {
    cursor: pointer;
}

.modalText {
    background: rgb(7, 33, 177);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: 12% 25% 0;
}